@charset "utf-8";
/* CSS Document */

/*基本信息*/
html, body { 
    padding: 0; 
    margin: 0; 
    font-size: 12px; 
    line-height: 1.5em; 
    height: 100%; 
    width: 100%;
}
body { 
    background-color: #fff;
}
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
}
button { 
    border: none;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section { 
    display: block;
}
ol, ul { 
    list-style: none;
}
* { 
    padding: 0; 
    margin: 0; 
    font-family: Arial, Microsoft Yahei; 
    font-size: 12px;
}

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    font-weight: normal; 
    letter-spacing: 0px;
}

ol, ul { 
    list-style: none;
}

a { 
    cursor: hand;
}

ins, a { 
    text-decoration: none; 
    color: #333333; 
    cursor: pointer;
}

input { 
    border: none; 
    border-radius: 0;
}


/*IE CSS3 兼容性*/
.IE_CSS3 { 
    position: relative \9; 
    behavior: url(PIE.htc) \9;
}

.no_border { 
    border: none;
}

/*阴影*/
.box_shdow_A { 
    box-shadow: -1px 2px 3px #e3e3e3; 
    position: relative \9; 
    behavior: url(PIE.htc) \9;
}

/*圆角*/
.border_radius_A { 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}

/*文字超出省略号*/
.textOverflow { 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
    overflow: hidden;
}

/*文字对齐*/
.alignText { 
    text-align: justify; 
    text-justify: distribute-all-lines; 
    text-align-last: justify; 
    text-align: right \9;
}

/*文本框边框*/
.input_text { 
    border: 1px solid #e0e0e0;
}

/*透明度*/
.filter_bg{  
    filter:alpha(opacity:30); 
    opacity:0.3;  
    -moz-opacity:0.3; 
    -khtml-opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);/*兼容ie8及以下*/
}

/*文字间距*/
.text_spacing{  
    letter-spacing: 8px;
}

.clr{ 
    clear: both;
}

select { 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    border: none; 
    height: inherit; 
    line-height: inherit; 
    width: 100%;  
    font-size: 14px; 
    color: #555; 
    background: none; 
    line-height: 10px \9;
}


body{
    background: url(../images/bg.jpg) no-repeat fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.jpg',sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(   src='images/bg.jpg', sizingMethod='scale');
}
.wrap_width{
    width: 1200px;
    margin: 0 auto;
}
/*头部*/
.top{
    height: 125px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: url(../images/top_bg.png) no-repeat;
    background-size: cover;
}
.logo{
    position: absolute;
    left: 20px;
    top: 0;
    display: block;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    line-height: 125px;
    background: url(../images/login_bg.png) no-repeat;
    padding: 0 256px 0 87px;
    letter-spacing: 8px;
}
.top_date{
    height: 40px;
    line-height: 40px;
    width: 275px;
    position: absolute;
    left: 52%;
    top: 42px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #233456;
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px; 
    border-radius: 20px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.top_right{
    position: absolute;
    right: 20px;
    top: 38px;
}
.top_right a{
    display: block;
}
.top_head{
    float: left;
    border: #fff 2px solid;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.top_name{
    float: left;
    display: block;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
}
.top_right b{
    display: block;
    margin: 20px 0 0;
    float: left;
}
.top_right_hide{
    display: none;
    padding: 10px 0;
    position: absolute;
    right: 0; 
    top: 56px;
    background: #516c8b;
    width: 110px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.top_right_hide li{
    height: 30px;
    line-height: 30px;
}
.top_right_hide li:hover{
    background: #33475f;
}
.top_right_hide a{
    padding: 0 0 0 40px;
    color: #fff;
    font-size: 12px;
    display: block;
}
.hide_key a{
    background: url(../images/top_key.png) no-repeat 15px 6px;
}
.hide_quit a{
    background: url(../images/top_quit.png) no-repeat 15px 6px;
}


/*left*/
.left{
    position: fixed;
    left: 0; 
    top: 125px;
    width: 240px;
    height: 100%;
    overflow: hidden;
}
.menu{
    width: 260px;
    height: 100%;
    overflow: auto;
}

.jquery-accordion-menu,.jquery-accordion-menu * { 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;	
    outline: 0;
}
.jquery-accordion-menu{	
    padding: 0 0 100px;
    width: 260px;
    float: left; 
    position: relative;
}
.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header{ 
    width: 100%; 
    height: 65px;	
    padding-left: 22px; 
    float: left; 
    line-height: 65px; 
    font-weight: 600; 
    color: #fff; 
    background: #2a3542;
}
.jquery-accordion-menu ul{ 
    margin: 0; 
    padding: 0;	
    list-style: none;
}
#demo-list{
    width: 250px;
    margin: 0 0 0 10px;
}
.jquery-accordion-menu ul li{ 
    cursor: pointer;
    width: 100%; 
    display: block; 
    float: left;
    position: relative; 
}
.jquery-accordion-menu ul li a{	
    padding: 0 22px; 
    height: 65px;
    line-height: 65px;
    display: block; 
    text-decoration: none; 
    color: #fff;
    font-size: 16px;
    white-space: nowrap; 
    position: relative; 
    overflow: hidden; 
    -o-transition: color .2s linear,background .2s linear; 
    -moz-transition: color .2s linear,background .2s linear;	
    -webkit-transition: color .2s linear,background .2s linear; 
    transition: color .2s linear,background .2s linear;
}

.jquery-accordion-menu>ul>li{
    position: relative;
    width: 230px;
    margin: 0 0 10px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.menu_libg{
    z-index: 1;
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    filter:alpha(opacity:15); 
    opacity:0.15;  
    -moz-opacity:0.15; 
    -khtml-opacity: 0.15;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);/*兼容ie8及以下*/
}
.jquery-accordion-menu>ul>li>a{
    padding: 0 0 0 30px;
    display: block;
    height: 60px;
    z-index: 2;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a{	
    color: #fff;	
    background: #2a3542;
}
.jquery-accordion-menu>ul>li>a.submenu-indicator-minus{
    background: #2a3542;
}
.jquery-accordion-menu>ul>li>a:hover .menu_libg{
    background: #2a3542;
}
.jquery-accordion-menu>ul>li>a.submenu-indicator-minus .menu_libg{
    background: #2a3542;
}
.jquery-accordion-menu ul li a i{
    width: 40px; 
    margin: 21px 0 0;
    float: left; 
    line-height: 18px;	
    font-size: 16px;	
    text-align: left;
}
.jquery-accordion-menu .submenu-indicator{
    float: right;
    right: 18px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    font-family: "宋体";
    margin: 23px 0 0;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
}
.jquery-accordion-menu ul ul.submenu .submenu-indicator{
    line-height: 16px
}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{
    width: 100%;
    display: none;
    position: static;
    padding: 5px 0 0;
}
.jquery-accordion-menu ul ul.submenu li{
    clear: both;
    width: 100%; 
    border-bottom: #5e6f80 1px solid;
}
.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;
    float: left;
    font-size: 11px;
    background: #576879;
    border-top: none;
    position: relative;
    border-left: solid 0 transparent;
    -o-transition: border .2s linear;
    -moz-transition: border .2s linear;
    -webkit-transition: border .2s linear;
    transition: border .2s linear;
}
.jquery-accordion-menu ul ul.submenu>li>a {
    padding: 0 0 0 73px; 
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
    padding: 10px 0 10px 70px;
}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
    padding-left: 60px;
}
.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{
    min-width: 20px;
    padding: 1px 2px 1px 1px;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 11px;
    font-weight: 800;
    color: #555;
    text-align: center;
    line-height: 18px;
    background: #f0f0f0;
    border-radius: 100%;
}
.ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear;
}
@-webkit-keyframes ripple {100% {opacity: 0;-webkit-transform: scale(2.5)}}
@-moz-keyframes ripple {100% {opacity: 0;-moz-transform: scale(2.5)}}
@-o-keyframes ripple {100% {opacity: 0;	-o-transform: scale(2.5)}}
@keyframes ripple {100% {opacity: 0;transform: scale(2.5)}}

.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a { 
    background: #3f546c;
}
.red.jquery-accordion-menu ul ul.submenu li:hover>a {
    background: #435567;
}
.red.jquery-accordion-menu ul ul.submenu li>a.active{
    background: #435567;
}
.jquery-accordion-menu ul ul.submenu{ 
    background:#576879; 
    z-index: 5;
}

/*right*/
.right{
    padding: 125px 0 0 260px;
}  
.right_content{
    background: url(../images/right_current_bg.png) no-repeat left top #f5f5f5;
    width: 100%;
    height: 100%;
    min-height: 650px;
}
.right_top{
    height: 58px;
    border-bottom: #ddd 1px solid;
}

/******路径导航******/
.breadcrumb {
    padding: 0 80px 0 60px;
    display: inline-block;
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    border-right: #ddd 1px dashed;
}
.breadcrumb>dt{
    float: left;
    color: #777;
    background: url(../images/breadcrumb_bt.png) no-repeat 0 20px;
    padding: 0 0 0 22px;
}
.breadcrumb>dd a {
    color: #337ab7;
    text-decoration: none;
}
.breadcrumb>dd {
    display: inline-block;
}
.breadcrumb>dd.active a {
    color: #777;
}
.breadcrumb>dd+dd:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}




/*================附件上传==================*/
.sckj{
    float: left;
}
.report_file { 
    display: block; 
    position: relative; 
    width: 100px; 
    height: 36px; 
    font-size: 14px;
    overflow: hidden; 
    background: none repeat scroll 0 0 #10c2c3; 
    color: #555; 
    cursor: pointer; 
    text-align: center; 
    float: left; 
    margin-right: 5px; 
    -moz-border-radius: 3px 3px 3px 3px;  
    -webkit-border-radius: 3px 3px 3px 3px; 
    border-radius: 3px 3px 3px 3px;
    position: relative \9; 
    behavior: url(PIE.htc) \9;}

.report_file .report_file_span { 
    float: left;
    width: 100px;
    cursor: pointer; 
    display: block; 
    line-height: 36px; 
    color: #fff;
    background: #009ed4; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    position: relative \9; 
    behavior: url(PIE.htc) \9;
}

.file_prew { 
    cursor: pointer; 
    position: absolute; 
    top: -2px; 
    left: 0;
    width: 320px; 
    height: 36px; 
    line-height: 36px;
    font-size: 100px;
    opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0;
    cursor: pointer;
}

.file_prew_up { 
    cursor: pointer; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    height: 36px; 
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd; 
    color: #777; 
    width: 300px;
    margin: 0 5px 0 0; 
    position: relative \9; 
    behavior: url(PIE.htc) \9;
}
.report_baocun{ 
    height: 36px;
    width: 120px;  
    height: 36px; 
    overflow: hidden; 
    color: #fff; 
    cursor: pointer; 
    background: #009ed4; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    position: relative \9; 
    behavior: url(PIE.htc) \9;
}
.report_file_span:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}
.report_baocun:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}