@charset "utf-8";
/* CSS Document */

.search_box{
    /* height: 100%; */
    overflow: auto;
    background: #f0f0f0;
    border-bottom: #ddd 1px solid;
    margin: 0 0 30px 0;
    padding: 20px 0 0;
}
.search_box_left{
    float: left;
    margin: 0 0 0 20px;
    max-width: 1065px;
    height: 100%;
    overflow: auto;
}
.search_box_left li{
    float: left;
    margin: 0 30px 20px 0;
}
.search_box_span{
    display: block;
    float: left;
    font-size: 14px;
    color: #666;
    padding: 0 5px 0 0;
    height: 36px;
    line-height: 36px;
}
.search_input{
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 7px 8px;
    box-sizing: content-box;
    border: #ccc 1px solid;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.select_box { 
    float: left;
    width: 200px; 
    display: block;  
    padding: 0 10px; 
    font-size: 14px; 
    height: 34px; 
    line-height: 34px; 
    color: #888; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); 
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
    position: relative \9;  
    behavior: url(PIE.htc) \9; 
    background-image: url(../../imgs/select_bg.png); 
    background-position: right 10px center; 
    background-repeat: no-repeat; 
    background: none \9;
}
.select_box select { 
    width: 100%; 
    line-height: 34px;  
    height: 34px; 
    cursor:pointer; 
    /* color:#888; */
}
.search_btn{
    box-sizing: content-box;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    padding: 0 30px;
    background: #428bca;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.search_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}
.search_box_right{
    float: right;
    margin: 0 20px 20px 0;
}
.search_box_addbtn{
    cursor: pointer;
    background: url(../images/search_addbtn.png) no-repeat 15px 9px #65c3df;
    padding: 0 20px 0 40px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    box-sizing: content-box;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.search_box_addbtn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}

.tab_box{
    /* height: 100%; */
    overflow: auto;
    background: #fff;
    margin: 0 20px;
    padding: 1px;
    padding: 0 0 20px;
}
.reqd_box{
    overflow: auto;
    max-height: 266px;
}
.tab{
    width: 100%;
    text-align: center;
}
.scrw_tab{
    border: #ddd solid;
    border-width: 1px 1px 1px 1px;
    margin: 20px 0 0;
}
.scrw_tab thead tr th{
    padding: 0 5px;
}
.tab thead tr th{
    background: #eee;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
.tab tbody tr td{
    padding: 14px 5px;
    line-height: 20px;
    box-sizing: content-box;
    font-size: 16px;
    color: #666;
    border-bottom: #ddd 1px dashed;
}
.tab_btn{
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.tab_bianji{
    background: #337ab7;
}
.tab_rwpf{
    background: #337ab7;
    width: 70px;
}
.tab_delete{
    background: #d9534f;
}
.tab_daochu{
    background: #ec971f;
}
.tab_xgrw{
    background: #31b0d5;
    width: 70px;
}
.tab_zfyj{
    background: #ff6900;
    width: 90px;
}
.tab_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}


/******分页******/
.page{
    list-style: none;
}
.page>li{
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #f4655f;
    margin: 5px;
    background-color: #f4655f;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #f4655f;
    background-color: #f4655f;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}

.sxle{
    padding: 30px 20px 0 300px;
}
.sxlb_contnet{
    width: 100%;
    background: #fff;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.sxlb_nav{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: #eee 1px solid;
    position: relative;
}
.sxlb_nav_add{
    position: absolute;
    right: 0; 
    top: 0;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    background: url(../images/rw_ssj_add.png) no-repeat 10px 16px;
    border-left: #ddd 1px solid;
    padding: 0 20px 0 30px;
    color: #666;
    cursor: pointer;
}
.sxlb_nav_add:hover{
    background: url(../images/rw_ssj_add.png) no-repeat 10px 16px #f9f9f9;
}
.sxlb_title{
   font-size: 14px;
    color: #333;
    padding: 20px;
}
.sxlb_main{
    font-size: 14px;
    line-height: 20px;
    color: #666;
    padding: 0 20px 20px;
    min-height: 250px;
}
.sxlb_bottom{
    border-top: #eee 1px solid;
    padding: 20px;
}
.sxlb_btn{
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin: 0 10px 0 0;
}
.tab_add{
    background: #65c3df;
}
.qdxq_date{
    margin: 30px 30px 0 30px;
    color: #fff;
    background: #a8bdcf;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.qdxq_box{
    margin: 0 60px;
    padding: 25px 0 10px 25px;
    position: relative;
    border-left: #a8bdcf 3px solid;
}
.qdxq_box_icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: -16px;
    top: 10px;
    background: #a8bdcf;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.qdxq_box_icon img{
    padding: 6px 0 0;
}
.qdxq_box_main{
    background: #fff;
    margin: 0 0 0 25px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.qdxq_box_nav{
    border-bottom: #ddd 1px solid;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
}
.qdxq_box_nav_name{
    color: #438bca;
    font-size: 16px;
    font-weight: 400;
}
.qdxq_box_nav_zuobiao{
    display: inline-block;
    background: url(../images/qdxq_nav_zuobiao.png) no-repeat 0 10px;
    padding: 0 0 0 30px;
    font-size: 14px;
    color: #888;
    float: right;
}
.qdxq_box_nav_ssdw{
    font-size: 14px;
    color: #888;
    display: inline-block;
    margin: 0 0 0 50px;
}
.qdxq_box_nav_dizhi{
    font-size: 14px;
    color: #888;
    display: inline-block;
    margin: 0 0 0 50px;
    float: right;
}
.qdxq_box_content{
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    color: #888;
}
.qdxq_picture{
    width: 100%;
    /* height: 100%; */
    overflow: auto;
}
.qdxq_picture li{
    width: 18%;
    float: left;
    padding: 10px 1%;
}
.qdxq_picture li img{
    width: 100%;
}
.qdxq_box_map{
    padding: 10px 1%;
}




.tzgg_yx{
    float: left;
}
.tzgg_yx a{
    float: left;
    display: inline-block;
    border: #ddd 1px solid;
    padding: 5px 30px 5px 10px;
    margin: 5px 5px 0 0;
    position: relative;
}

.tzgg_yx a i{
    position: absolute;
    right: 10px;
    top: 9px;
    width: 10px;
    height: 10px;
    background: url(../images/tzgg_delete.png) no-repeat;
}
.tzgg_yx a:hover{
    background: #fff;
    border: #f00 1px solid;
}
.tzgg_top{
    padding: 20px 21px;
    border-bottom: #ddd 1px solid;
}
.tzgg_top ul{
    height: 100%;
    overflow: auto;
}
.tzgg_top li{
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.tzgg_top li .tzgg_top_span{
    font-size: 14px;
    color: #666;
    display: inline-block;
    padding: 0 10px 0 0;
    float: left;
    height: 36px;
    line-height: 36px;
}
.tzgg_text{
    border: #ddd 1px solid;
    width: 80%;
    height: 100px;
    float: left;
    line-height: 20px;
    padding: 8px;
    color: #666;
    font-size: 14px;
}
.tzgg_select dl{
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.tzgg_select dl dt{
    position: absolute;
    left: 21px;
    top: 0;
    font-size: 14px;
    color: #666;
    height: 36px;
    line-height: 36px;
}
.tzgg_select dl dd{
    line-height: 30px;
    font-size: 14px;
    padding: 3px 0;
}
.tzgg_select_qx{
    position: absolute;
    left: 100px;
    top: 0;
}
.j_tb{
    display: block;
    margin: 0 30px 0 140px;
    position: relative;
}
.j_box{
    margin: 0 50px 0 30px;
}
.j_box label{
    margin: 0 20px 0 0;
    display: inline-block;
}
.tzgg_select_qx input{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 7px 3px 0 0;
}
.j_box input{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 7px 3px 0 0;
}
.j_tb label a{
    display: inline-block;
    height: 15px;
}
.j_tb .qbxs{
    position: absolute;
    right: 0; 
    font-size: 12px;
    color: #f60;
    height: 24px;
    line-height: 24px;
    top: 0;
    background: #fff;
    border: #f60 1px solid;
    padding: 0 15px;
    display: inline-block;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.tzgg_bottom{
    text-align: center;
    margin: 40px 30px 0 0;
    padding: 0 0 30px;
}

.tzgg_bottom_btn{
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
    background: #428bca;
    margin: 0 10px;
}
.tzgg_bottom_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}

.tzgg_bottom_btn_cancel{
    background: #546a78;
}
.biaoji{
    background: #fbb44c;
    height: 30px;
    line-height: 30px;
    width: 80px;
    margin: 0 10px 0 0;
    border: #c67c10 1px solid;
}
.yjbj_tab{
    width: 50%;
    float: left;
}
.yjbj_map{
    width: 50%;
    float: left;
    position: relative;
}
.yjbj_map .yjbj_map_img{
    padding: 10px;
    position: absolute;
    left: 0; 
    top: 0;
}
.yjbj_map .yjbj_map_img img{
    width: 100%;
    height: 100%;
}
.yjbj_map_btn{
    position: absolute;
    right: 10px;
    top: 20px;
}
.yjbj_pmd{
    padding: 20px;
    background: #fff;
    height: 60px;
}
.yjbj_pmd_con{
    background: #fff8ed;
    height: 60px;
    border: #faebcc 1px solid;
    padding: 0 20px;
    overflow: hidden;
}



/*============
	 --  滚动文字  --
	=============*/
#scrollImg{
    position: relative;
    height: 60px; 
    overflow: hidden;
    width: 100%;
}
.jcarousel-skin-tango{
    height: 60px; 
    overflow: hidden;
    width: 100%;    
}
.jcarousel-skin-tango li{ 
    float: left; 
    text-align: center; 
    height: 60px;
    line-height: 60px;
    font-size: 12px; 
    overflow: hidden;
    width: 50%;
    display: block;
}
.jcarousel-skin-tango li a{ 
    color: #8d5600; 
    display: block;
    cursor: pointer; 
    font-size: 18px;
}
.jcarousel-skin-tango li a:hover{ 
    text-decoration: underline;
}


.map_box{
    position: relative;
}
.map_select{
    position: absolute;
    left: 0;
    top: 0;
    width: 333px;
    z-index: 4;
}

.map_pic{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/*== 选项卡 ==*/
.map_select .tabTitle{ 
    position: relative; 
    height: 40px; 
    background: #324972; 
    width: 333px;
}
.map_select .tabTitle li{ 
    float: left; 
    width: 111px; 
    height: 40px; 
    line-height: 40px; 
    text-align:center; 
    color:#fff; 
    cursor:pointer; 
    font-size:14px; 
}
.map_select .tabTitle li.titleOn{ 
    color: #fff; 
    font-size: 14px; 
    font-weight: bold; 
    background: #3e5b90;
}
.map_select .tabTitle li a{ 
    display:none; 
    padding:5px 0 0;
}
.map_select .tabTitle li.titleOn a{ 
    display: block;
}
/*== tab ctrl ==*/
.tabBox{ 
    display: none; 
    border: #ccc solid;
    border-width: 0 1px 1px 1px;
    width: 331px;
    background: url(../images/map_select_box.png) repeat-y #fff;
    height: 100%;
    overflow: auto;
}
.show{ 
    display: block;
}

.tabBox_left{
    width: 110px;
    font-size: 16px;
    color: #666;
    padding: 10px 0;
    float: left;
}
.tabBox_ul li{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 0 0 10px;
}
.tabBox_left_inp{
    float: left;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    margin: 7px 5px 0 0;
}
.tabBox_left_span{
    float: left;
}
.tabBox_right{
    float: left;
    font-size: 14px;
    padding: 10px;
}
.map_weizhi{
    height: 30px;
    margin: 20px 0 0 10px;
    font-size: 16px;
    color: #666;
}
.map_weizhi span{
    float: left;
    display: block;
}
.examine_screen{ 
    float: left; 
    height: 17px; 
    line-height: 17px; 
    background: url(../images/examine_screen_bg.png) no-repeat center;
    float:left;
    width: 30px;
    padding: 1px;
    margin: 0 10px 0 5px;
}
.examine_screen .screen-btn{ 
    float: left; 
    height: 15px;
    width: 15px;
    margin: 1px 0;
}
.examine_screen .screen_ok{ 
    text-align:center; 
    color: #FFFFFF;
    width: 15px; 
    background: url(../images/examine_screen_ok_bg.png) no-repeat center;
}
.screen_margin{
    margin: 0 0 0 25px;
}


.rwpz_box{
    width: 100%;
}
.rwpz_box li{
    height: 100%;
    overflow: auto;
    margin: 0 0 20px;
    border-bottom: #ddd 1px solid;
    padding: 0 0 10px;
}
.rwpz_box li>span{
    display: block;
    font-size: 16px;
    height: 20px;
    padding: 5px 0;
}
.rwpz_box_inp{    
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 7px 8px;
    box-sizing: content-box;
    border: #ccc 1px solid;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.rwpz_box_dl dd{
    margin: 0 0 5px;
    position: relative;
}
.rwpz_box_dl dd>span{
    font-size: 14px;
    color: #555;
    height: 20px;
    line-height: 20px;
}
.rwpz_box_dl_inp{
    position: absolute;
    right: 2px; 
    top: 1px;
    width: 50px;
    background: #ea8557;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
    cursor: pointer;
}
.rwpz_box_dl_inp:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}
.rwpz_box_dl_text{
    border: #ddd 1px solid;
    position: absolute;
    padding: 0 5px;
    right: 2px; 
    top: 1px;
    width: 38px;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.member_list{
    height: 100%;
    overflow: auto;
    padding: 5px 0;
}
.member_list a{
    margin: 5px 5px 0 0;
    display: block;
    float: left;
    background: #0db8df;
    padding: 0 7px;
    color: #fff;
    font-size: 12px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.member_list a span{
    float: left;
    max-width: 180px;
}
.member_list a i{
    display: block;
    float: left;
    padding: 5px 0 0 5px;
    width: 9px;
    height: 9px;
    background: url(../images/rw_ssj_close.png) no-repeat 5px 5px;
}
.ssj_rw_box{
    background: #f5f5f5;
    height: 100%;
    overflow: auto;
}
.rwpz_box_dl dd .select_box { 
    position: absolute;
    width: 80px; 
    right: 2px;
    top: 1px;
    display: block;  
    padding: 0 5px; 
    font-size: 12px; 
    height: 18px; 
    line-height: 18px; 
    color: #888; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); 
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
    position: relative \9;  
    behavior: url(PIE.htc) \9; 
    background-image: url(../images/select_bg2.png); 
    background-position: right 5px center; 
    background-repeat: no-repeat; 
    background: none \9;
}
.rwpz_box_dl dd .select_box select { 
    width: 100%; 
    line-height: 18px;  
    height: 18px; 
    font-size: 12px;
    cursor:pointer; 
    color:#888;
}
.sxle_btn{
    text-align: right;
    margin: 0 0 30px 0; 
    height: 36px;
    line-height: 36px;
}
.sxle_btn .tzgg_bottom_btn{
    padding: 0 20px;
    width: 140px;
}

.top_list{
	padding: 10px 0 30px;
	width: 100%;
	height: 151px;
}
.top_list li{
	float: left;
	width: 12.9%;
	margin: 0 1.8%;
	height: 151px;
	text-align: center;
}
.top_list li a{
	display: block;
}
.top_list li a span{
	display: block;
}
.top_list li a span.top_list_img{
	width: 100%;
	height: 85px;
}
.top_list li a span.top_list_icon1{
	background: url(../images/s1.png) no-repeat center #60a7e7;
}
.top_list li a span.top_list_icon2{
	background: url(../images/s2.png) no-repeat center #f6b460;
}
.top_list li a span.top_list_icon3{
	background: url(../images/s3.png) no-repeat center #73c482;
}
.top_list li a span.top_list_icon4{
	background: url(../images/s4.png) no-repeat center #ef746d;
}
.top_list li a span.top_list_icon5{
	background: url(../images/s5.png) no-repeat center #60a7e7;
}
.top_list li a span.top_list_icon6{
	background: url(../images/s6.png) no-repeat center #f6b460;
}
.top_list li a span.top_list_name{
	height: 65px;
	line-height: 65px;
	color: #333333;
	font-size: 20px;
	background: #FFFFFF;
	border: #ddd solid;
	border-width: 0 1px 1px 1px;
}
.zhzf_tab_box{
	height: 100%;
	overflow: auto;
}
.zhzf_tab{
	float: left;
	width: 46.4%;
	margin: 0 1.8% 0;
	background: #fff;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative \9;
    behavior: url(../PIE.htc) \9;
}
.zhzf_tab .tab_box{
	margin: 20px;
	padding: 0;
}
.sxlb_nav .more{
	display: block;
	position: absolute;
	right: 20px;
	top: 3px;
	font-size: 14px;
}
.zfajtj_tab_box{
	background: #FFFFFF;
	margin: 30px 1.8%;
}

.zfajtj_tab_box .tab_box{
	margin: 20px;
	padding: 0;
	position: relative;
}
.zfajtj_select{
	position: absolute;
	z-index: 9;
	right: 17px;
	top: 0px;
	width: 200px;
	padding: 0 5px;
	
}
.zsmcx_inp{
	height: 34px;
	line-height: 34px;
	width: 100%;
	padding: 0 10px;
	color: #839dc2;
	font-size: 14px;
	border:1px solid #ccc;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
    outline: none;
}
.select-wrapper{
	font:normal 14px '\5FAE\8F6F\96C5\9ED1';
	width:100%;
	height:34px;
	position:relative;
	cursor:pointer;
	display:inline-block;
	*display:inline;
	*float:left;
	*margin-right:10px;
	background:#fff;
	border:1px solid #ddd;
	padding: 0 10px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.select-wrapper.focus{
}
.select-button{
	color: #839dc2;
	font:normal 14px '\5FAE\8F6F\96C5\9ED1';
	width:100%;
	height:34px;
	border:0;
	border-radius:3px;
	background:#fff;
	cursor:pointer;
	padding:0 26px 0 0;
	overflow:hidden;
	text-align:left;
	outline:none;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
}
.select-down{
	position:absolute;
	top:21px;
	right:12px;
	height:0;
	width:0;
	overflow:hidden;
	font-size:0;
	border-color:#ddd transparent transparent transparent;
	border-style:solid;
	border-width:6px;
}  
.disabled{
	color:#cccccc;
}
.select-list{
	width:100%;
	background:#fff;
	border:1px solid #e8e8e8;
	box-shadow:0 0 3px #ddd;
	border-radius:3px;
	display:none;
	z-index:2;
	position:absolute;
	left:-1px;
	top:35px;
	overflow:hidden;
}
.select-list ul{
	margin:0;
	padding:0;
	overflow-x:hidden;
	overflow-y:auto;
	line-height:34px;
	max-height:240px;
}
.select-list ul li{
	width:100%;
	height:34px;
	padding-left:10px;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	margin: 0;
}
.select-list ul li.selected,.select-list ul li:hover{
	color:#333;
	background:#f1f1f1;
}
.zfajtj_tab_img{
	width: 100%;
}
.zfajtj_tab_img img{
	width: 100%;
}
.xz_cur{
	cursor: pointer;
}
.flfg_pl_box{
	height: 30px;
	line-break: 30px;
	margin: 0 0 10px 20px;
}
.flfg_pl_btn{
	cursor: pointer;
	padding: 0 15px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	background: #FFFFFF;
	border: #428bca 1px solid;
	color: #428bca;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
    margin: 0 10px 0 0;
    outline: none;
}
.flfg_pl_btn:hover{
	background: #F7F7F7;
	border: #ccc 1px solid;
	color: #666;
}
.fafg_show_title{
	font-size: 30px;
	line-height: 38px;
	padding: 30px 40px;
	text-align: center;
}
.fafg_show_nr{
	font-size: 16px;
	color: #666;
	line-height: 30px;
	padding: 20px 40px;
	text-indent: 2em;
}
.xzzf_ajlr_title{
	clear: left;
	color: #333;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-bottom: #ddd 1px solid;
	border-top: #ddd 1px solid;
	padding: 0 30px;
	background: #f1f1f1;
}
.cxcg_fabu{ 
	clear: left;
	width: 94%; 
	/* height: 100%; */
	overflow: auto;
	margin: 20px auto;
	padding: 0 0 20px;
}
.cxcg_fabu li{ 
	width: 100%; 
	float: left;
	/* height: 100%; */
	overflow: auto; 
	padding: 20px 0;
}
.cxcg_fabu .cxcg_fabu_span{ 
	width: 8%; 
	padding: 0 0 0 1%; 
	float: left; 
	font-size: 16px; 
	line-height: 32px; 
	color: #666;
}
.cxcg_fabu .cxcg_fabu_layer{ 
	width: 23%; 
	float: left; 
	padding: 0 0 0 1%;
}
.cxcg_fabu .cxcg_fabu_layer .select_box{
	width: 80%;
}
.cxcg_fabu li.cxcg_fabu_li1 .cxcg_fabu_layer{
	width: 14%;
}
.fabu_text{ 
	width: 88%; 
	height: 34px; 
	line-height: 16px; 
	padding: 8px 10px; 
	border: #ddd 1px solid; 
	/* color: #888;  */
	background-color: #fff; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); 
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;  
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
	position: relative \9; 
	behavior: url(PIE.htc) \9;
}

.tjfx_box .tjfx_box_tabTitle{
    /* height: 100%; */
    overflow: auto;
    background: #f0f0f0;
    border-bottom: #ddd 1px solid;
    padding: 20px 0 0 20px;
	position: relative;
}
.tjfx_box .tjfx_box_tabTitle li{  
	float:left; 
	display:block; 
	width:150px; 
	height:40px; 
	line-height:40px; 
	text-align:center; 
	cursor:pointer; 
	background: #d5d5d5;
	font-size: 16px;
}
.tjfx_box .tjfx_box_tabTitle li.tjfx_box_titleOn{ 
	background:#3e5c80;
}
.tjfx_box .tjfx_box_tabTitle li.tjfx_box_titleOn a{
	color: #fff;	
}
/*== tab ctrl ==*/
.tjfx_box .tjfx_box_tabBox{ 
	padding: 20px;
}











