@charset "utf-8";
/* CSS Document */

.search_box{
    height: 45px;
    padding-top:7px;
    background: #f0f0f0;
    border-bottom: #ddd 1px solid;
    position: relative;
}
.search_box_left{
    float: left;
    margin: 0 0 0 20px;
    max-width: 1065px;
    height: 100%;
}
.search_box_left li{
    float: left;
    margin-left: 5px;
}
.search_box_span{
    display: block;
    float: left;
    font-size: 14px;
    color: #666;
    padding: 0 5px 0 0;
    height: 36px;
    line-height: 36px;
}
.search_input{
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 7px 8px;
    box-sizing: content-box;
    border: #ccc 1px solid;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.select_box { 
    float: left;
    width: 200px; 
    display: block;  
    padding: 0 10px; 
    font-size: 14px; 
    height: 34px; 
    line-height: 34px; 
    color: #888; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); 
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
    position: relative \9;  
    behavior: url(PIE.htc) \9; 
    background-image: url(../imgs/select_bg.png); 
    background-position: right 10px center; 
    background-repeat: no-repeat; 
    background: none \9;
}
.select_box select { 
	border:none;
    width: 100%; 
    line-height: 34px;  
    height: 34px; 
    cursor:pointer; 
    color:#888;
}
.search_btn{
    box-sizing: content-box;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    line-height: 36px;
    padding: 0 30px;
    background: #428bca;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.search_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}
.search_box_right{
    float: right;
    margin: 0 20px 20px 0;
}
.search_box_addbtn{
    cursor: pointer;
    background: url(../imgs/search_addbtn.png) no-repeat 15px 9px #65c3df;
    padding: 0 20px 0 40px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    box-sizing: content-box;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.search_box_addbtn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}

.tab_box{
    /* height: 470px; */
    height:100%;
    overflow: auto;
    background: #fff;
}
.tab{
    width: 100%;
    text-align: center;
}
.tab thead tr th{
    background: #eee;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
.tab tbody tr td{
    padding: 14px 5px;
    line-height: 20px;
    box-sizing: content-box;
    font-size: 16px;
    color: #666;
    border-bottom: #ddd 1px dashed;
}
.tab_btn{
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.tab_bianji{
    background: #337ab7;
}
.tab_delete{
    background: #d9534f;
}
.tab_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}


/******分页******/
.page{
    list-style: none;
}
.page>li{
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #f4655f;
    margin: 5px;
    background-color: #f4655f;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #f4655f;
    background-color: #f4655f;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}

.sxle{
    padding: 30px 20px 0 300px;
}
.sxlb_contnet{
    width: 100%;
    background: #fff;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.sxlb_nav{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: #eee 1px solid;
}
.sxlb_title{
   font-size: 14px;
    color: #333;
    padding: 20px;
}
.sxlb_main{
    font-size: 14px;
    line-height: 20px;
    color: #666;
    padding: 0 20px 20px;
    min-height: 250px;
}
.sxlb_bottom{
    border-top: #eee 1px solid;
    padding: 20px;
}
.sxlb_btn{
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin: 0 10px 0 0;
}
.tab_add{
    background: #65c3df;
}
.qdxq_date{
    margin: 30px 30px 0 30px;
    color: #fff;
    background: #a8bdcf;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.qdxq_box{
    margin: 0 60px;
    padding: 25px 0 10px 25px;
    position: relative;
    border-left: #a8bdcf 3px solid;
}
.qdxq_box_icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: -16px;
    top: 10px;
    background: #a8bdcf;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.qdxq_box_icon img{
    padding: 6px 0 0;
}
.qdxq_box_main{
    background: #fff;
    margin: 0 0 0 25px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.qdxq_box_nav{
    border-bottom: #ddd 1px solid;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
}
.qdxq_box_nav_name{
    color: #438bca;
    font-size: 16px;
    font-weight: 400;
}
.qdxq_box_nav_zuobiao{
    display: inline-block;
    background: url(../images/qdxq_nav_zuobiao.png) no-repeat 0 10px;
    padding: 0 0 0 30px;
    font-size: 14px;
    color: #888;
    float: right;
}
.qdxq_box_nav_ssdw{
    font-size: 14px;
    color: #888;
    display: inline-block;
    margin: 0 0 0 50px;
}
.qdxq_box_nav_dizhi{
    font-size: 14px;
    color: #888;
    display: inline-block;
    margin: 0 0 0 50px;
    float: right;
}
.qdxq_box_content{
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    color: #888;
}
.qdxq_picture{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.qdxq_picture li{
    width: 18%;
    float: left;
    padding: 10px 1%;
}
.qdxq_picture li img{
    width: 100%;
}
.qdxq_box_map{
    padding: 10px 1%;
}




.tzgg_yx{
    float: left;
}
.tzgg_yx a{
    float: left;
    display: inline-block;
    border: #ddd 1px solid;
    padding: 5px 30px 5px 10px;
    margin: 5px 5px 0 0;
    position: relative;
}

.tzgg_yx a i{
    position: absolute;
    right: 10px;
    top: 9px;
    width: 10px;
    height: 10px;
    background: url(../images/tzgg_delete.png) no-repeat;
}
.tzgg_yx a:hover{
    background: #fff;
    border: #f00 1px solid;
}
.tzgg_top{
    padding: 20px 21px;
    border-bottom: #ddd 1px solid;
}
.tzgg_top ul{
    height: 100%;
    overflow: auto;
}
.tzgg_top li{
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.tzgg_top li .tzgg_top_span{
    font-size: 14px;
    color: #666;
    display: inline-block;
    padding: 0 10px 0 0;
    float: left;
    height: 36px;
    line-height: 36px;
}
.tzgg_text{
    border: #ddd 1px solid;
    width: 80%;
    height: 100px;
    float: left;
    line-height: 20px;
    padding: 8px;
    color: #666;
    font-size: 14px;
}
.tzgg_select dl{
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.tzgg_select dl dt{
    position: absolute;
    left: 21px;
    top: 0;
    font-size: 14px;
    color: #666;
    height: 36px;
    line-height: 36px;
}
.tzgg_select dl dd{
    line-height: 30px;
    font-size: 14px;
    padding: 3px 0;
}
.tzgg_select_qx{
    position: absolute;
    left: 100px;
    top: 0;
}
.j_tb{
    display: block;
    margin: 0 30px 0 140px;
    position: relative;
}
.j_box{
    margin: 0 50px 0 30px;
}
.j_box label{
    margin: 0 20px 0 0;
    display: inline-block;
}
.tzgg_select_qx input{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 7px 3px 0 0;
}
.j_box input{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 7px 3px 0 0;
}
.j_tb label a{
    display: inline-block;
    height: 15px;
}
.j_tb .qbxs{
    position: absolute;
    right: 0; 
    font-size: 12px;
    color: #f60;
    height: 24px;
    line-height: 24px;
    top: 0;
    background: #fff;
    border: #f60 1px solid;
    padding: 0 15px;
    display: inline-block;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.tzgg_bottom{
    text-align: center;
    margin: 40px 30px 0 0;
    padding: 0 0 30px;
}

.tzgg_bottom_btn{
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
    background: #428bca;
    margin: 0 10px;
}
.tzgg_bottom_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}

.tzgg_bottom_btn_cancel{
    background: #546a78;
}
.biaoji{
    background: #fbb44c;
    height: 30px;
    line-height: 30px;
    width: 80px;
    margin: 0 10px 0 0;
    border: #c67c10 1px solid;
}
.yjbj_tab{
    width: 50%;
    float: left;
}
.yjbj_map{
    width: 50%;
    float: left;
    position: relative;
}
.yjbj_map .yjbj_map_img{
    padding: 3px;
    /* position: absolute; */
    left: 0; 
    top: 0;
}
.yjbj_map .yjbj_map_img img{
    width: 100%;
    height: 100%;
}
.yjbj_map_btn{
    position: absolute;
    right: 10px;
    top: 20px;
}
.yjbj_pmd{
    padding: 3px;
    background: #fff;
    height: 50px;
}
.yjbj_pmd_con{
    background: #fff8ed;
    height: 48px;
    border: #faebcc 1px solid;
    padding: 0 20px;
    overflow: hidden;
}



/*============
	 --  滚动文字  --
	=============*/
#scrollImg{
    position: relative;
    height: 60px; 
    overflow: hidden;
    width: 100%;
}
.jcarousel-skin-tango{
    height: 60px; 
    overflow: hidden;
    width: 100%;    
}
.jcarousel-skin-tango li{ 
    float: left; 
    text-align: center; 
    height: 60px;
    line-height: 60px;
    font-size: 12px; 
    overflow: hidden;
    width: 50%;
    display: block;
}
.jcarousel-skin-tango li a{ 
    color: #8d5600; 
    display: block;
    cursor: pointer; 
    font-size: 18px;
}
.jcarousel-skin-tango li a:hover{ 
    text-decoration: underline;
}





/*== 选项卡 ==*/
.map_select .tabTitle{ 
    position: relative; 
    height: 40px; 
    background: #324972; 
    width: 333px;
}
.map_select .tabTitle li{ 
    float: left; 
    width: 111px; 
    height: 40px; 
    line-height: 40px; 
    text-align:center; 
    color:#fff; 
    cursor:pointer; 
    font-size:14px; 
}
.map_select .tabTitle li.titleOn{ 
    color: #fff; 
    font-size: 14px; 
    font-weight: bold; 
    background: #3e5b90;
}
.map_select .tabTitle li a{ 
    display:none; 
    padding:5px 0 0;
}
.map_select .tabTitle li.titleOn a{ 
    display: block;
}


/*============
		tab ctrl
	========= ==*/
.tabBox{ 
    display: none; 
    border: #ccc solid;
    border-width: 0 1px 1px 1px;
    width: 331px;
    background: url(../images/map_select_box.png) repeat-y #fff;
    height: 100%;
    overflow: auto;
}
.show{ 
    display: block;
}

.tabBox_left{
    width: 110px;
    font-size: 16px;
    color: #666;
    padding: 10px 0;
    float: left;
}
.tabBox_ul li{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 0 0 10px;
}
.tabBox_left_inp{
    float: left;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    margin: 7px 5px 0 0;
}
.tabBox_left_span{
    float: left;
}
.tabBox_right{
    float: left;
    font-size: 14px;
    padding: 10px;
}
.map_weizhi{
    height: 30px;
    margin: 20px 0 0 10px;
    font-size: 16px;
    color: #666;
}
.map_weizhi span{
    float: left;
    display: block;
}
.examine_screen{ 
    float: left; 
    height: 17px; 
    line-height: 17px; 
    background: url(../images/examine_screen_bg.png) no-repeat center;
    float:left;
    width: 30px;
    padding: 1px;
    margin: 0 10px 0 5px;
}
.examine_screen .screen-btn{ 
    float: left; 
    height: 15px;
    width: 15px;
    margin: 1px 0;
}
.examine_screen .screen_ok{ 
    text-align:center; 
    color: #FFFFFF;
    width: 15px; 
    background: url(../images/examine_screen_ok_bg.png) no-repeat center;
}
.screen_margin{
    margin: 0 0 0 25px;
}







