#code1{
background-image:url("../../system/imgs/code.png");
width: 237px;
height: 40px;
line-height: 40px;
font-size: 30px;
color: blue;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}
.logul li{
	padding: 5px;
}
.changeul li{
	padding: 5px;
}