@charset "utf-8";
/* CSS Document */
.pop_body_bg{
    background: none;
}
.pop_bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    filter:alpha(opacity:30); 
    opacity:0.3;  
    -moz-opacity:0.3; 
    -khtml-opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);/*兼容ie8及以下*/
}
.pop{
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.pop_delete{
    width: 440px;
}
.pop_nav{
    height: 45px;
    line-height: 45px;
    border-bottom: #eee 1px solid;
    position: relative;
}
.pop_nav_title{
    font-size: 16px;
    color: #333;
    display: inline-block;
    padding: 0 20px;
}
.close{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 17px;
    right: 20px;
    display: inline-block;
    background: url(../images/close.png) no-repeat;
}

.pop_main{
    margin: 20px;
}
.pop_delete_main_contnet{
    text-align: center;
    font-size: 18px;
    color: #666;
    padding: 30px 0 60px;
    letter-spacing: 3px;
    background: url(../images/pop_tishi.png) no-repeat 75px 25px;
}
.pop_bottom{
    border-top: #eee 1px solid;
    margin: 20px 0 0;
    text-align: right;
    padding: 20px 0;
}
.pop_btn{
    margin: 0 20px 0 0;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.pop_sure{
    background: #428bca;
}
.pop_cancel{
    background: #546a78;
}
.pop_btn:hover{
    filter:alpha(opacity:90); 
    opacity:0.9;  
    -moz-opacity:0.9; 
    -khtml-opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);/*兼容ie8及以下*/
}


.pop_add{
    width: 520px
}
.pop_ul{
    padding: 20px 0 0;
}
.pop_ul li{
    margin: 0 0 20px 20px;
}
.pop_ul li .pop_span{
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    color: #666;
    float: left;
    padding: 0 10px 0 0;
    width: 70px;
}
.pop_inp{
    width: 302px;
    box-sizing: content-box;
    height: 20px;
    line-height: 20px;
    padding: 7px;
    border: #ddd 1px solid;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}
.pop_text{
    width: 302px;
    height: 56px;
    box-sizing: content-box;
    line-height: 20px;
    padding: 7px;
    border: #ddd 1px solid;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    position: relative \9; 
    behavior: url(../PIE.htc) \9;
}

























